<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间 -->

<mapper namespace="com.stardai.manage.mapper.BaseMapper">
    <select id="queryBySql" resultType="java.util.HashMap">
        ${sql}
    </select>
    <select id="queryListBySql" resultType="java.util.HashMap">
        ${sql}
    </select>
    <select id="queryBasicTypeBySql" resultType="java.lang.Object">
        ${sql}
    </select>
    <update id="updateBySql">
        ${sql}
    </update>

    <insert id="insertBysql">
        ${sql}
    </insert>
    <delete id="deleteBySql">
        ${sql}
    </delete>
</mapper>