<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间 -->
<mapper namespace="com.stardai.manage.mapper.LoanUserMapper">

    <!-- 小星借款APP过来的借款申请保存到数据库(1.2.6版本以后) -->
    <insert id="insertLoanInfo">
		INSERT INTO yjd_loan_info (
		order_no,
		loan_name,
		loan_phone,
		loan_money,
		loan_term,
		loan_card,
		loan_age,
		loan_sex,
		loan_oldcity,
		loan_location,
		loan_married,
		job,
		wage_payment_form,
		monthly_income,
		work_year,
		company_type,
		register_time,
		company_monthly_income,
		personal_shebao,
		personal_gongjijin,
		house_property,
		house_pledge,
		personal_house,
		house_address,
		house_assessment,
		car_property,
		car_pledge,
		personal_car,
		car_address,
		car_assessment,
		loan_debt,
		loan_chit,
		chit_situation,
		credit_card_status,
		zmxy,
		webank,
		tags,
		is_Native,
		create_time,
		order_time,
		loan_score,
		order_amount,
		status,
		loan_ip,
		channel,
		channel_branch,
		conform_qualification,
		valid,
		loan_phone_attribution,
		jiebei,
		degree
		)
		VALUES
		(
		#{orderNo},
		#{userName},
		#{phone},
		#{amount},
		#{term},
		#{idCard},
		#{age},
		#{sex},
		#{oldCity},
		#{location},
		#{married},
		#{job},
		#{income},
		#{monthlyIncome},
		#{workYear},
		#{companyType},
		#{registerTime},
		#{companyMonthlyIncome},
		#{sheBao},
		#{gongJiJin},
		#{houseProperty},
		#{housePledge},
		#{house},
		#{houseAddress},
		#{houseAssessment},
		#{carProperty},
		#{carPledge},
		#{car},
		#{carAddress},
		#{carAssessment},
		#{debt},
		#{chit},
		#{policySituation},
		#{status},
		#{zmxy},
		#{webank},
		#{tags},
		#{isNative},
		now(),
		#{orderTime},
		#{score},
		#{price},
		#{ujdStatus},
		#{loanIp},
		#{channel},
		#{channelBranch},
		#{conformQualification},
		#{valid},
		#{loanPhoneAttribution},
		#{jiebei},
		#{degree}
		);
	</insert>

    <!--新接口插入-->
    <insert id="insertLoanInfoNew">
		INSERT INTO yjd_loan_info (
		order_no,
		loan_name,
		loan_phone,
		loan_money,
		loan_term,
		loan_card,
		loan_age,
		loan_sex,
		loan_oldcity,
		loan_location,
		job,
		wage_payment_form,
		monthly_income,
		work_year,
		company_type,
		register_time,
		company_monthly_income,
		personal_shebao,
		personal_gongjijin,
		house_property,
		house_pledge,
		personal_house,
		house_address,
		house_assessment,
		car_property,
		car_pledge,
		personal_car,
		car_address,
		car_assessment,
		loan_debt,
		loan_chit,
		chit_situation,
		credit_card_status,
		zmxy,
		webank,
		is_Native,
		create_time,
		order_time,
		loan_score,
		order_amount,
		status,
		loan_ip,
		channel,
		channel_branch,
		conform_qualification,
		valid,
		loan_phone_attribution,
		jiebei,
		degree,
		api_url,
		api_id
		)
		VALUES
		(
		#{orderNo},
		#{userName},
		#{phone},
		#{amount},
		#{term},
		#{idCard},
		#{age},
		#{sex},
		#{household},
		#{location},
		#{job},
		#{income},
		#{monthlyIncome},
		#{workYear},
		#{companyType},
		#{registerTime},
		#{companyMonthlyIncome},
		#{sheBao},
		#{gongJiJin},
		#{houseProperty},
		#{housePledge},
		#{house},
		#{houseAddress},
		#{houseAssessment},
		#{carProperty},
		#{carPledge},
		#{car},
		#{carAddress},
		#{carAssessment},
		#{debt},
		#{chit},
		#{policySituation},
		#{status},
		#{zmxy},
		#{webank},
		#{isNative},
		now(),
		#{orderTime},
		#{score},
		#{price},
		#{ujdStatus},
		#{loanIp},
		#{channel},
		#{channelBranch},
		#{conformQualification},
		#{valid},
		#{loanPhoneAttribution},
		#{jiebei},
		#{degree},
		#{apiUrl},
		#{apiId}
		);
	</insert>

    <!--回调后修改手机号-->
    <update id="updateLoanUserPhone">
		UPDATE yjd_loan_info
		SET
		loan_phone = #{phone}
		WHERE
		order_no=#{orderNum}
	</update>

    <select id="queryCreditScore" resultType="com.stardai.manage.request.RequestCreditScore">
		SELECT
		type_in,only_code,score
		from
		yjd_loan_db
		where score > 0
	</select>
    <!--根据生成的订单号查找api订单号-->
    <select id="queryApiIdByOrderNo" resultType="String">
		SELECT
		api_id
		from
		yjd_loan_info
		where
		order_no = #{orderNo}
	</select>

    <!--新接口评分查询-->
    <select id="queryCreditScoreNew" resultType="com.stardai.manage.request.RequestCreditScore">
		SELECT
		type_in,only_code,score
		from
		yjd_loan_db_new
		where score > 0
	</select>

    <!--查询当前借款人是否在黑名单列表-->
    <select id="getIsInBlackList" resultType="Integer" parameterType="com.stardai.manage.request.RequestLoanUserInfo">
		SELECT
		id
		FROM
		yjd_loan_blacklist
		WHERE
		black_field = #{phone}

		or
		black_field = #{idCard}
	</select>

    <!--查询当前借款人是否已经申请过，并返回上次申请的时间-->
    <select id="queryIsApplyRecently" resultType="Long" parameterType="com.stardai.manage.request.RequestLoanUserInfo">
		SELECT
		order_time
		FROM
		yjd_loan_info
		WHERE
		loan_phone = #{phone}
		ORDER BY
		id DESC
		LIMIT 1
	</select>

    <!--获取第二次申请可以展示在优接单的间隔时间-->
    <select id="getShowTime" resultType="Integer">
		SELECT
		apply_time
		from
		yjd_apply_time
		where id = 1
	</select>

    <!--根据字段的编号查询字段表示的含义-->
    <select id="getValueByCode" resultType="String">
		SELECT
		value
		from
		yjd_loan_db
		where only_code = #{code}
	</select>

    <!--根据身份证号前几位获取此人所在的户籍城市-->
    <select id="getCityCodeByIdCard" resultType="String">
		SELECT
		area_code
		FROM
		yjd_cardno_city
		WHERE
		card_no = #{cardNo}
		limit 1
	</select>

    <!--当前库里没有的身份证号前几位存到数据库里-->
    <insert id="setCardNoAndCityCode">
		insert  into
		yjd_cardno_city(card_no,area_code,area_name)
		values(
		#{idCard},
		#{cityCode},
		#{cityName}
		)
	</insert>

    <select id="queryIsInCity" resultType="integer">
		SELECT
		count(*)
		from
		yjd_loan_city_limit
		where city_code = #{city}
	</select>


    <!-- 修改订单状态 -->
    <update id="updateLoanUserStatus">
		UPDATE yjd_loan_info
		SET
		status = #{status}
		WHERE
		order_no=#{orderNo}
	</update>
    <update id="updateLoanUserDiscountState">
		UPDATE yjd_loan_info
		SET
		discounted_state = #{discountedState}
		WHERE
		order_no=#{orderNo}
	</update>
    <!-- 再次查询此单有没有被抢 -->
    <select id="queryStatusByOrderNo" resultType="Integer">
		SELECT
		status
		from
		yjd_loan_info
		where
		order_no=#{orderNo}
	</select>


    <select id="queryScoreNew" resultType="com.stardai.manage.pojo.CreditScore">
		SELECT
		id,name,field,type,score
		from
		yjd_loan_credit_score
	</select>


    <!-- 根据用户提交的借款申请中的所在城市到数据库中的城市名统一表中查一下转换成统一的城市名叫法,以便优接单软件按照所在城市搜索 -->
    <select id="queryLocation" resultType="String">
		SELECT
		unified_location
		from
		yjd_loan_cities
		WHERE
		pre_location = #{location}
		LIMIT 1
	</select>


    <!--直接到贷款经理order表中查询是否存在-->
    <select id="queryOrder" resultType="com.stardai.manage.response.ResponseLoanOrder">
		SELECT
			yuo.order_time orderTime,
			yuo.submit_time submitTime,
			yuo.`status`,
			yuo.create_time createTime,
			yuo.order_success_time orderSuccessTime,
			yui.user_id,
			yui.role role,
			yui.mobile_number mobileNumber,
			yui.user_name userName,
			yuc.company_name
		FROM
			yjd_user_order yuo,
			yjd_user_info yui left join yjd_user_company yuc on yui.user_id = yuc.user_id
		WHERE
			yuo.user_id = yui.user_id
		AND
			yuo.order_no = #{orderNo}
			limit 1
	</select>

    <select id="queryLoanOrderTime" resultType="Long">
		SELECT
		order_time
		FROM
		yjd_loan_info
		WHERE
		order_no = #{orderNo}
	</select>

    <!--查询是否把此单导给企业用户-->
    <select id="queryIsGrabByEnterprise" resultType="com.stardai.manage.response.ResponseLoanOrder">
		SELECT
			yeo.create_time orderTime,
			yeo.create_time submitTime,
			yui.user_id,
			yui.role role,
			yui.mobile_number mobileNumber,
			yuc.company_name
		FROM
			yjd_enterprise_order yeo left join
			yjd_user_info yui
		on
			yeo.user_id = yui.user_id
		left join yjd_user_company yuc
		on yui.user_id = yuc.user_id
		where
			yeo.order_no = #{orderNo}
			and yeo.is_deleted = 0
	</select>

    <!-- 小星借款APP过来的借款申请保存到数据库(1.2.6版本以后) -->
    <insert id="insertLoanUserInfo" parameterType="java.util.HashMap">
		INSERT INTO yjd_loan_info_temp (
		order_no,
		loan_name,
		loan_phone,
		loan_money,
		loan_term,
		loan_card,
		loan_age,
		loan_sex,
		loan_oldcity,
		loan_location,
		loan_married,
		job,
		loan_income,
		monthly_income,
		work_year,
		personal_shebao,
		personal_gongjijin,
		personal_house,
		house_address,
		house_pledge,
		personal_car,
		car_address,
		car_pledge,
		loan_debt,
		loan_chit,
		loan_status,
		loan_explain,
		order_amount,
		status,
		loan_score,
		create_time,
		order_time,
		channel,
		zmxy,
		webank,
		tags,
		register,
		is_Native,
		company_type,
		register_time,
		company_monthly_income,
		house_assessment,
		car_assessment,
		channel_branch,
		close_amount
		)
		VALUES
		(
		#{orderNo},
		#{userName},
		#{phone},
		#{loanAmount},
		#{term},
		#{idCard},
		#{age},
		#{sex},
		#{oldCity},
		#{location},
		#{married},
		#{job},
		#{income},
		#{monthlyIncome},
		#{workYear},
		#{sheBao},
		#{gongJiJin},
		#{house},
		#{houseAddress},
		#{housePledge},
		#{car},
		#{carAddress},
		#{carPledge},
		#{debt},
		#{chit},
		#{status},
		#{explain},
		#{price},
		#{ujdStatus},
		#{score},
		now(),
		#{orderTime},
		#{channel},
		#{zmxy},
		#{webank},
		#{tags},
		1,
		#{isNative},
		#{companyType},
		#{registerTime},
		#{companyMonthlyIncome},
		#{houseAssessment},
		#{carAssessment},
		#{channelBranch},
		#{closeAmount}
		);
	</insert>

    <!--根据用户的信用分,计算抢单要付多少星币-->
    <select id="queryPrice" resultType="Integer">
		SELECT
		price
		FROM
		yjd_loan_price
		WHERE
		#{score}
		BETWEEN
		p_start
		AND
		p_end
	</select>

    <!--查询当前借款人是否已经申请过，并返回上次申请的时间 or loan_card = #{idCard}-->
    <select id="queryIsApply" resultType="Long" parameterType="java.util.HashMap">
		SELECT
		order_time
		FROM
		yjd_loan_info
		WHERE
		loan_phone = #{phone}
		ORDER BY
		id DESC
		LIMIT 1
	</select>

    <!-- 通过订单号查询借款人手机号 -->
    <select id="queryLoanPhoneByOrderNo" resultType="java.lang.String">
		SELECT
		loan_phone
		from
		yjd_loan_info
		where
		order_no=#{orderNo}
	</select>

    <!--查询给差资质单子打的折扣-->
    <select id="getDiscountForLowQualification" resultType="Double">
		SELECT
		discount
		FROM
		yjd_neworder_discount
		WHERE
		discount_switch = 0
		and
		discount_type = 2
		and
		#{now} between begin_time and end_time

	</select>

    <!--根据订单号查询此订单借款人所在城市-->
    <select id="getLoanCityByOrderNo" resultType="string">
		SELECT
		loan_location
		FROM
		yjd_loan_info
		WHERE
		order_no = #{orderNo}

	</select>


</mapper>