<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间 -->
<mapper namespace="com.stardai.manage.mapper.UserSmsCodeMapper">

	<!-- 查询用户信息 -->
	<select id="querySmsCode" resultType="com.stardai.manage.pojo.UserSmsCode">
		select 
		id,
		mobile_number,
		verify_code,
		create_time 
		from yjd_user_smscode
		where
		mobile_number = #{mobileNumber}
	</select>

	<!-- 添加手机号与验证码 -->
	<insert id="addSmsCodeBymoblie">
		INSERT INTO yjd_user_s	mscode (
		id,
		mobile_number,
		verify_code,
		create_time
		)
		VALUES
		(
		NULL,
		#{mobileNumber},
		#{verifyCode},
		#{createTime}
		);
	</insert>

	<!--将旧的验证码覆盖 -->
	<update id="updateSmsCode">
		UPDATE yjd_user_smscode
		SET
		verify_code = #{verifyCode},
		create_time = #{createTime}
		WHERE
		(
		mobile_number = #{mobileNumber}
		);

	</update>
	
	<!--极光发送短信失败时，使用云片发送，并记录使用云片发送短信的时间-->
	<insert id="addUnNaturalMessage">
		INSERT INTO yjd_unnatural_message (
		mobile_number,
		create_time
		)
		VALUES
		(
		#{mobileNumber},
		now()
		);
	</insert>
	
	<!-- 查询用户信息 -->
	<select id="isOnceSaved" resultType="String">
		select 
		mobile_number 
		from yjd_unnatural_message
		where
		mobile_number = #{mobileNumber}
	</select>

</mapper>